body {
  padding: 40px 80px;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}
div.matrix {
  display: grid;
  width: 120px;
  grid-template-columns: auto auto;
  text-align: center;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.mat-element {
  padding: 5px;
}
